<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_660ca64596bb4eed84724f3bfbf7e431 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_660ca64596bb4eed84724f3bfbf7e431" ></div>
        
</body>
<script>    
    
            var map_660ca64596bb4eed84724f3bfbf7e431 = L.map(
                "map_660ca64596bb4eed84724f3bfbf7e431",
                {
                    center: [0, 0],
                    crs: L.CRS.EPSG3857,
                    zoom: 1,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_363bdfead9ea4cd18cd463b0d1af80ca = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_660ca64596bb4eed84724f3bfbf7e431);
        
    
            var feature_group_e4e469c809814ac2af1e89dcbce073e4 = L.featureGroup(
                {}
            ).addTo(map_660ca64596bb4eed84724f3bfbf7e431);
        
    
            var marker_2fff98777429406c8d39026608301e43 = L.marker(
                [39.625602, -85.9202594],
                {}
            ).addTo(feature_group_e4e469c809814ac2af1e89dcbce073e4);
        
    
            var icon_b89dc18fa9de4c548e136b6f70dfe95d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_2fff98777429406c8d39026608301e43.setIcon(icon_b89dc18fa9de4c548e136b6f70dfe95d);
        
    
        var popup_2a0f22ec136249e89e975e026f70803a = L.popup({"maxWidth": "100%"});

        
            var html_6936e695a56a4522924b2e63798127ad = $(`<div id="html_6936e695a56a4522924b2e63798127ad" style="width: 100.0%; height: 100.0%;">ａｓｙｒｉｓ 🐰</div>`)[0];
            popup_2a0f22ec136249e89e975e026f70803a.setContent(html_6936e695a56a4522924b2e63798127ad);
        

        marker_2fff98777429406c8d39026608301e43.bindPopup(popup_2a0f22ec136249e89e975e026f70803a)
        ;

        
    
    
            var marker_e2f99de071d94314985ea1d5e5f16cdd = L.marker(
                [52.4760892, -71.8258668],
                {}
            ).addTo(feature_group_e4e469c809814ac2af1e89dcbce073e4);
        
    
            var icon_a9074e12428b4764bd8ed4f7110f6643 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_e2f99de071d94314985ea1d5e5f16cdd.setIcon(icon_a9074e12428b4764bd8ed4f7110f6643);
        
    
        var popup_4727c82d058c40ceb15a3bb9d9122f70 = L.popup({"maxWidth": "100%"});

        
            var html_99e5b7e7b9144888a2bf36856da49d6c = $(`<div id="html_99e5b7e7b9144888a2bf36856da49d6c" style="width: 100.0%; height: 100.0%;">Dantes</div>`)[0];
            popup_4727c82d058c40ceb15a3bb9d9122f70.setContent(html_99e5b7e7b9144888a2bf36856da49d6c);
        

        marker_e2f99de071d94314985ea1d5e5f16cdd.bindPopup(popup_4727c82d058c40ceb15a3bb9d9122f70)
        ;

        
    
    
            var marker_c4d0d8e9a2fd476dbd7c48875bb19ad5 = L.marker(
                [41.1519319, -74.0357266],
                {}
            ).addTo(feature_group_e4e469c809814ac2af1e89dcbce073e4);
        
    
            var icon_15e7f433ae2f4496aaed8fa15b8dc3d3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_c4d0d8e9a2fd476dbd7c48875bb19ad5.setIcon(icon_15e7f433ae2f4496aaed8fa15b8dc3d3);
        
    
        var popup_dacac76368b14e5db640a94c25cb4549 = L.popup({"maxWidth": "100%"});

        
            var html_96a671ba64df433086b9ce851cb91020 = $(`<div id="html_96a671ba64df433086b9ce851cb91020" style="width: 100.0%; height: 100.0%;">MagicTheBlathering</div>`)[0];
            popup_dacac76368b14e5db640a94c25cb4549.setContent(html_96a671ba64df433086b9ce851cb91020);
        

        marker_c4d0d8e9a2fd476dbd7c48875bb19ad5.bindPopup(popup_dacac76368b14e5db640a94c25cb4549)
        ;

        
    
    
            var marker_59418b501dde40b7a558bb04d49ea34a = L.marker(
                [24.2140561, 83.03884241116913],
                {}
            ).addTo(feature_group_e4e469c809814ac2af1e89dcbce073e4);
        
    
            var icon_6e419e5ec4ef426baaee9d3ddd1d93b7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_59418b501dde40b7a558bb04d49ea34a.setIcon(icon_6e419e5ec4ef426baaee9d3ddd1d93b7);
        
    
        var popup_4ea2397683194f7ba6f37d2118044ae8 = L.popup({"maxWidth": "100%"});

        
            var html_9d0c597d869448349e2f861b462af491 = $(`<div id="html_9d0c597d869448349e2f861b462af491" style="width: 100.0%; height: 100.0%;">TomboyKatarina ⛓️💔🥀</div>`)[0];
            popup_4ea2397683194f7ba6f37d2118044ae8.setContent(html_9d0c597d869448349e2f861b462af491);
        

        marker_59418b501dde40b7a558bb04d49ea34a.bindPopup(popup_4ea2397683194f7ba6f37d2118044ae8)
        ;

        
    
    
            var marker_22b70622a2414318ac79fd931658832a = L.marker(
                [60.167375199999995, 24.943468978332195],
                {}
            ).addTo(feature_group_e4e469c809814ac2af1e89dcbce073e4);
        
    
            var icon_38ef596af01e49b98affa81f62bd29e7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_22b70622a2414318ac79fd931658832a.setIcon(icon_38ef596af01e49b98affa81f62bd29e7);
        
    
        var popup_8105272017f948cabde32b8782d04be9 = L.popup({"maxWidth": "100%"});

        
            var html_aa68e3b6f1014a2d9ddbeb0733e09cad = $(`<div id="html_aa68e3b6f1014a2d9ddbeb0733e09cad" style="width: 100.0%; height: 100.0%;">Armazi</div>`)[0];
            popup_8105272017f948cabde32b8782d04be9.setContent(html_aa68e3b6f1014a2d9ddbeb0733e09cad);
        

        marker_22b70622a2414318ac79fd931658832a.bindPopup(popup_8105272017f948cabde32b8782d04be9)
        ;

        
    
    
            var marker_e9a6d6c806fe4c509898223040c56794 = L.marker(
                [19.292621150000002, -81.35854363791051],
                {}
            ).addTo(feature_group_e4e469c809814ac2af1e89dcbce073e4);
        
    
            var icon_4762be381579458db4b57d3b89390ee3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_e9a6d6c806fe4c509898223040c56794.setIcon(icon_4762be381579458db4b57d3b89390ee3);
        
    
        var popup_0d91d2c6149d4634b4d1542c1400ae21 = L.popup({"maxWidth": "100%"});

        
            var html_0467de3616914d51a6853ff07735feda = $(`<div id="html_0467de3616914d51a6853ff07735feda" style="width: 100.0%; height: 100.0%;">really big meme</div>`)[0];
            popup_0d91d2c6149d4634b4d1542c1400ae21.setContent(html_0467de3616914d51a6853ff07735feda);
        

        marker_e9a6d6c806fe4c509898223040c56794.bindPopup(popup_0d91d2c6149d4634b4d1542c1400ae21)
        ;

        
    
    
            var marker_2ff4ee0d53044a419d1530d5b8838b6c = L.marker(
                [-17.3966634, -66.1922005207378],
                {}
            ).addTo(feature_group_e4e469c809814ac2af1e89dcbce073e4);
        
    
            var icon_0b15226dcfe949d08acf222c1c975108 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_2ff4ee0d53044a419d1530d5b8838b6c.setIcon(icon_0b15226dcfe949d08acf222c1c975108);
        
    
        var popup_182c2bdc8280441c80c72a54ab0e257c = L.popup({"maxWidth": "100%"});

        
            var html_7f259d5c59cf43fe8b71f455f00f1a76 = $(`<div id="html_7f259d5c59cf43fe8b71f455f00f1a76" style="width: 100.0%; height: 100.0%;">eternal classic</div>`)[0];
            popup_182c2bdc8280441c80c72a54ab0e257c.setContent(html_7f259d5c59cf43fe8b71f455f00f1a76);
        

        marker_2ff4ee0d53044a419d1530d5b8838b6c.bindPopup(popup_182c2bdc8280441c80c72a54ab0e257c)
        ;

        
    
    
            var marker_278a9f25ae244054b066ddfbdf10446d = L.marker(
                [61.0666922, -107.991707],
                {}
            ).addTo(feature_group_e4e469c809814ac2af1e89dcbce073e4);
        
    
            var icon_f2914bdbdca34cf191490c5817c456f1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_278a9f25ae244054b066ddfbdf10446d.setIcon(icon_f2914bdbdca34cf191490c5817c456f1);
        
    
        var popup_b34d7b063fcd4a088d5e5d4be90ff9ac = L.popup({"maxWidth": "100%"});

        
            var html_2833effd285d44c2862a5b784e65485f = $(`<div id="html_2833effd285d44c2862a5b784e65485f" style="width: 100.0%; height: 100.0%;">Alliury</div>`)[0];
            popup_b34d7b063fcd4a088d5e5d4be90ff9ac.setContent(html_2833effd285d44c2862a5b784e65485f);
        

        marker_278a9f25ae244054b066ddfbdf10446d.bindPopup(popup_b34d7b063fcd4a088d5e5d4be90ff9ac)
        ;

        
    
    
            var marker_5ed706bc200641ba96adc30b1d146002 = L.marker(
                [34.0536909, -118.242766],
                {}
            ).addTo(feature_group_e4e469c809814ac2af1e89dcbce073e4);
        
    
            var icon_066d4285f841444d81013b34728c9cd9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_5ed706bc200641ba96adc30b1d146002.setIcon(icon_066d4285f841444d81013b34728c9cd9);
        
    
        var popup_090f720992604ef193d048a9d01c0929 = L.popup({"maxWidth": "100%"});

        
            var html_e99fdac25fb14c7889f528c537dec34e = $(`<div id="html_e99fdac25fb14c7889f528c537dec34e" style="width: 100.0%; height: 100.0%;">Rob | ForgottenProject</div>`)[0];
            popup_090f720992604ef193d048a9d01c0929.setContent(html_e99fdac25fb14c7889f528c537dec34e);
        

        marker_5ed706bc200641ba96adc30b1d146002.bindPopup(popup_090f720992604ef193d048a9d01c0929)
        ;

        
    
    
            var marker_77307a0dc6f343429ed82c04212118af = L.marker(
                [49.4871968, 31.2718321],
                {}
            ).addTo(feature_group_e4e469c809814ac2af1e89dcbce073e4);
        
    
            var icon_2c413e634c894b33a8b9048865c41b18 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_77307a0dc6f343429ed82c04212118af.setIcon(icon_2c413e634c894b33a8b9048865c41b18);
        
    
        var popup_36e53c8631bc4bd2be96ee7f5d689aea = L.popup({"maxWidth": "100%"});

        
            var html_9f8630e9ea97445cbb21f2d9845f6a2d = $(`<div id="html_9f8630e9ea97445cbb21f2d9845f6a2d" style="width: 100.0%; height: 100.0%;">d1paI</div>`)[0];
            popup_36e53c8631bc4bd2be96ee7f5d689aea.setContent(html_9f8630e9ea97445cbb21f2d9845f6a2d);
        

        marker_77307a0dc6f343429ed82c04212118af.bindPopup(popup_36e53c8631bc4bd2be96ee7f5d689aea)
        ;

        
    
    
            var marker_22c243378d41472998b2a4cde2355b6f = L.marker(
                [35.38297375, -78.07577083454356],
                {}
            ).addTo(feature_group_e4e469c809814ac2af1e89dcbce073e4);
        
    
            var icon_7721f2f4387145ee9e2b80f0f81a106a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_22c243378d41472998b2a4cde2355b6f.setIcon(icon_7721f2f4387145ee9e2b80f0f81a106a);
        
    
        var popup_80ac55cb15ab4e2289c6ec8f1a8c37fd = L.popup({"maxWidth": "100%"});

        
            var html_88066d47dbbb4e6386f3b46261c1bec9 = $(`<div id="html_88066d47dbbb4e6386f3b46261c1bec9" style="width: 100.0%; height: 100.0%;">Yamikaze</div>`)[0];
            popup_80ac55cb15ab4e2289c6ec8f1a8c37fd.setContent(html_88066d47dbbb4e6386f3b46261c1bec9);
        

        marker_22c243378d41472998b2a4cde2355b6f.bindPopup(popup_80ac55cb15ab4e2289c6ec8f1a8c37fd)
        ;

        
    
    
            var marker_c19c8199e4764878a613ed5b64e4d518 = L.marker(
                [52.5310214, -1.2649062],
                {}
            ).addTo(feature_group_e4e469c809814ac2af1e89dcbce073e4);
        
    
            var icon_fc3a8785c71747cabc3ffa952f9b7263 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_c19c8199e4764878a613ed5b64e4d518.setIcon(icon_fc3a8785c71747cabc3ffa952f9b7263);
        
    
        var popup_6269f33fc25242699724abfb42b036df = L.popup({"maxWidth": "100%"});

        
            var html_422fb133b9b2491e8775fa248f74c217 = $(`<div id="html_422fb133b9b2491e8775fa248f74c217" style="width: 100.0%; height: 100.0%;">KZ </div>`)[0];
            popup_6269f33fc25242699724abfb42b036df.setContent(html_422fb133b9b2491e8775fa248f74c217);
        

        marker_c19c8199e4764878a613ed5b64e4d518.bindPopup(popup_6269f33fc25242699724abfb42b036df)
        ;

        
    
    
            var marker_cda385d357784dbc9bed6c9bc897fd42 = L.marker(
                [55.946607650000004, 37.50483582166906],
                {}
            ).addTo(feature_group_e4e469c809814ac2af1e89dcbce073e4);
        
    
            var icon_9326cf29654c4490807be486ea56b236 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_cda385d357784dbc9bed6c9bc897fd42.setIcon(icon_9326cf29654c4490807be486ea56b236);
        
    
        var popup_eecfc9dd6566492ea9b3b4070f26dd5c = L.popup({"maxWidth": "100%"});

        
            var html_7a2f2b15663c4a91a38b1f21d289cfca = $(`<div id="html_7a2f2b15663c4a91a38b1f21d289cfca" style="width: 100.0%; height: 100.0%;">ЭТО ЖЕ САМ СИРИОН</div>`)[0];
            popup_eecfc9dd6566492ea9b3b4070f26dd5c.setContent(html_7a2f2b15663c4a91a38b1f21d289cfca);
        

        marker_cda385d357784dbc9bed6c9bc897fd42.bindPopup(popup_eecfc9dd6566492ea9b3b4070f26dd5c)
        ;

        
    
    
            var marker_5f8401644d3047a995188e690bb870eb = L.marker(
                [47.9465114, 16.728577009170856],
                {}
            ).addTo(feature_group_e4e469c809814ac2af1e89dcbce073e4);
        
    
            var icon_e339137d4a054b0585b9fb8bafe9b33d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_5f8401644d3047a995188e690bb870eb.setIcon(icon_e339137d4a054b0585b9fb8bafe9b33d);
        
    
        var popup_f41728a016044d6e81560277602917f4 = L.popup({"maxWidth": "100%"});

        
            var html_e4f47aed89b84a108be87a3e7362a0d0 = $(`<div id="html_e4f47aed89b84a108be87a3e7362a0d0" style="width: 100.0%; height: 100.0%;">cupcake sai (っ ̫-) PROUD JAEGERIST🕊⚔️</div>`)[0];
            popup_f41728a016044d6e81560277602917f4.setContent(html_e4f47aed89b84a108be87a3e7362a0d0);
        

        marker_5f8401644d3047a995188e690bb870eb.bindPopup(popup_f41728a016044d6e81560277602917f4)
        ;

        
    
    
            var marker_ef8843a045e74b28994ebb8ee9c5df5e = L.marker(
                [22.36047145, 114.13510202195724],
                {}
            ).addTo(feature_group_e4e469c809814ac2af1e89dcbce073e4);
        
    
            var icon_7fb9a7aef5c94a969571d0421d4a461b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_ef8843a045e74b28994ebb8ee9c5df5e.setIcon(icon_7fb9a7aef5c94a969571d0421d4a461b);
        
    
        var popup_b3e84f8b9d0341c5aee8c5bbc37ce102 = L.popup({"maxWidth": "100%"});

        
            var html_9005259a98254309bbecc84b689c6efb = $(`<div id="html_9005259a98254309bbecc84b689c6efb" style="width: 100.0%; height: 100.0%;">Riot Kassadin</div>`)[0];
            popup_b3e84f8b9d0341c5aee8c5bbc37ce102.setContent(html_9005259a98254309bbecc84b689c6efb);
        

        marker_ef8843a045e74b28994ebb8ee9c5df5e.bindPopup(popup_b3e84f8b9d0341c5aee8c5bbc37ce102)
        ;

        
    
    
            var marker_a5dc1b23a0a245a2b6b57ad15b11a34d = L.marker(
                [53.2976152, -0.1200837],
                {}
            ).addTo(feature_group_e4e469c809814ac2af1e89dcbce073e4);
        
    
            var icon_0489f83550f745bbb3edc84bdb726ba1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_a5dc1b23a0a245a2b6b57ad15b11a34d.setIcon(icon_0489f83550f745bbb3edc84bdb726ba1);
        
    
        var popup_170451026c5b41b7ab10478a9997ba24 = L.popup({"maxWidth": "100%"});

        
            var html_cf847115cb964e8aa1d63d421fb25531 = $(`<div id="html_cf847115cb964e8aa1d63d421fb25531" style="width: 100.0%; height: 100.0%;">CEO of ranged toplaner hate</div>`)[0];
            popup_170451026c5b41b7ab10478a9997ba24.setContent(html_cf847115cb964e8aa1d63d421fb25531);
        

        marker_a5dc1b23a0a245a2b6b57ad15b11a34d.bindPopup(popup_170451026c5b41b7ab10478a9997ba24)
        ;

        
    
    
            var marker_4402459bf7dd4140a40344206a0f7cfb = L.marker(
                [51.5073219, -0.1276474],
                {}
            ).addTo(feature_group_e4e469c809814ac2af1e89dcbce073e4);
        
    
            var icon_03040ff9e15f4a1982dbca84a6020d47 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_4402459bf7dd4140a40344206a0f7cfb.setIcon(icon_03040ff9e15f4a1982dbca84a6020d47);
        
    
        var popup_da5c9a714fdf4c72b52b52ddadb873b8 = L.popup({"maxWidth": "100%"});

        
            var html_10a50e98e1b04ae2ad35777bb7e6ce8c = $(`<div id="html_10a50e98e1b04ae2ad35777bb7e6ce8c" style="width: 100.0%; height: 100.0%;">Kat</div>`)[0];
            popup_da5c9a714fdf4c72b52b52ddadb873b8.setContent(html_10a50e98e1b04ae2ad35777bb7e6ce8c);
        

        marker_4402459bf7dd4140a40344206a0f7cfb.bindPopup(popup_da5c9a714fdf4c72b52b52ddadb873b8)
        ;

        
    
    
            var marker_b5224a212ba14369835638ddce92117a = L.marker(
                [38.91534155, -77.05345879638129],
                {}
            ).addTo(feature_group_e4e469c809814ac2af1e89dcbce073e4);
        
    
            var icon_989d9781910d4e79a17a64bb18dc301a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_b5224a212ba14369835638ddce92117a.setIcon(icon_989d9781910d4e79a17a64bb18dc301a);
        
    
        var popup_867f614162674e758b7cc83beac8f7d4 = L.popup({"maxWidth": "100%"});

        
            var html_a6254f7e120646769f9427f98d8c823f = $(`<div id="html_a6254f7e120646769f9427f98d8c823f" style="width: 100.0%; height: 100.0%;">Nemesis</div>`)[0];
            popup_867f614162674e758b7cc83beac8f7d4.setContent(html_a6254f7e120646769f9427f98d8c823f);
        

        marker_b5224a212ba14369835638ddce92117a.bindPopup(popup_867f614162674e758b7cc83beac8f7d4)
        ;

        
    
    
            var marker_940fcb819bd14b22af6c1cb342ec90ad = L.marker(
                [40.4416941, -79.9900861],
                {}
            ).addTo(feature_group_e4e469c809814ac2af1e89dcbce073e4);
        
    
            var icon_66f4bc8e8522479f921ac58be7cfaa16 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_940fcb819bd14b22af6c1cb342ec90ad.setIcon(icon_66f4bc8e8522479f921ac58be7cfaa16);
        
    
        var popup_2871791d19d7435e92044fa24770ff42 = L.popup({"maxWidth": "100%"});

        
            var html_7a9127a9732749149f18433330fb286b = $(`<div id="html_7a9127a9732749149f18433330fb286b" style="width: 100.0%; height: 100.0%;">Rav</div>`)[0];
            popup_2871791d19d7435e92044fa24770ff42.setContent(html_7a9127a9732749149f18433330fb286b);
        

        marker_940fcb819bd14b22af6c1cb342ec90ad.bindPopup(popup_2871791d19d7435e92044fa24770ff42)
        ;

        
    
    
            var marker_9599fb7183bd4b7ca0a1054983e314c0 = L.marker(
                [50.47143435, 136.90531849856438],
                {}
            ).addTo(feature_group_e4e469c809814ac2af1e89dcbce073e4);
        
    
            var icon_71f318837fde4daa8068915761a11e94 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_9599fb7183bd4b7ca0a1054983e314c0.setIcon(icon_71f318837fde4daa8068915761a11e94);
        
    
        var popup_4348ac2e619f47529dd77cc4bef4b1bd = L.popup({"maxWidth": "100%"});

        
            var html_93baf20a71ca4dcb8e20f59808353ced = $(`<div id="html_93baf20a71ca4dcb8e20f59808353ced" style="width: 100.0%; height: 100.0%;">SW7</div>`)[0];
            popup_4348ac2e619f47529dd77cc4bef4b1bd.setContent(html_93baf20a71ca4dcb8e20f59808353ced);
        

        marker_9599fb7183bd4b7ca0a1054983e314c0.bindPopup(popup_4348ac2e619f47529dd77cc4bef4b1bd)
        ;

        
    
    
            var marker_31b0e7eeb2f741c9991f991829f1e79a = L.marker(
                [52.5170365, 13.3888599],
                {}
            ).addTo(feature_group_e4e469c809814ac2af1e89dcbce073e4);
        
    
            var icon_a034a4860cb14518bdd5eb88d70f1d3b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_31b0e7eeb2f741c9991f991829f1e79a.setIcon(icon_a034a4860cb14518bdd5eb88d70f1d3b);
        
    
        var popup_f477eaa88799490f83aa4f02fb3e7351 = L.popup({"maxWidth": "100%"});

        
            var html_96c1f34541f24c95ae33deb7273b32b8 = $(`<div id="html_96c1f34541f24c95ae33deb7273b32b8" style="width: 100.0%; height: 100.0%;">selfmade</div>`)[0];
            popup_f477eaa88799490f83aa4f02fb3e7351.setContent(html_96c1f34541f24c95ae33deb7273b32b8);
        

        marker_31b0e7eeb2f741c9991f991829f1e79a.bindPopup(popup_f477eaa88799490f83aa4f02fb3e7351)
        ;

        
    
    
            var marker_5dda44bdac8244d8b74b33bff1baf1bf = L.marker(
                [43.6534817, -79.3839347],
                {}
            ).addTo(feature_group_e4e469c809814ac2af1e89dcbce073e4);
        
    
            var icon_6c35de06376644cd8f4958824cc83c2e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_5dda44bdac8244d8b74b33bff1baf1bf.setIcon(icon_6c35de06376644cd8f4958824cc83c2e);
        
    
        var popup_889ff9e43a4c47dd9dbe831e97e424b9 = L.popup({"maxWidth": "100%"});

        
            var html_8c91d7e5bd484d8c93eb2ee73f9646d9 = $(`<div id="html_8c91d7e5bd484d8c93eb2ee73f9646d9" style="width: 100.0%; height: 100.0%;">nick</div>`)[0];
            popup_889ff9e43a4c47dd9dbe831e97e424b9.setContent(html_8c91d7e5bd484d8c93eb2ee73f9646d9);
        

        marker_5dda44bdac8244d8b74b33bff1baf1bf.bindPopup(popup_889ff9e43a4c47dd9dbe831e97e424b9)
        ;

        
    
    
            var marker_aaf6b95998c641ae97c950572b0f94de = L.marker(
                [34.0536909, -118.242766],
                {}
            ).addTo(feature_group_e4e469c809814ac2af1e89dcbce073e4);
        
    
            var icon_b0a47def892d4431a8e685325d7e0b7d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_aaf6b95998c641ae97c950572b0f94de.setIcon(icon_b0a47def892d4431a8e685325d7e0b7d);
        
    
        var popup_bf0cf037f77b4a86929bcca9024d1dbe = L.popup({"maxWidth": "100%"});

        
            var html_cb556e0578c346f6af0369e55f16828a = $(`<div id="html_cb556e0578c346f6af0369e55f16828a" style="width: 100.0%; height: 100.0%;">Frosk</div>`)[0];
            popup_bf0cf037f77b4a86929bcca9024d1dbe.setContent(html_cb556e0578c346f6af0369e55f16828a);
        

        marker_aaf6b95998c641ae97c950572b0f94de.bindPopup(popup_bf0cf037f77b4a86929bcca9024d1dbe)
        ;

        
    
    
            var marker_ce388fbe1511418fb5e0b07a1f5684c2 = L.marker(
                [35.03279415, 135.76192862769],
                {}
            ).addTo(feature_group_e4e469c809814ac2af1e89dcbce073e4);
        
    
            var icon_a4e3c848d25f44f3b6e2e4a44a581120 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_ce388fbe1511418fb5e0b07a1f5684c2.setIcon(icon_a4e3c848d25f44f3b6e2e4a44a581120);
        
    
        var popup_9d43816901bd4cd3816da751a5b41820 = L.popup({"maxWidth": "100%"});

        
            var html_a689fa5c9d4d4bf8a3dfbc1444b9eebd = $(`<div id="html_a689fa5c9d4d4bf8a3dfbc1444b9eebd" style="width: 100.0%; height: 100.0%;">asyc</div>`)[0];
            popup_9d43816901bd4cd3816da751a5b41820.setContent(html_a689fa5c9d4d4bf8a3dfbc1444b9eebd);
        

        marker_ce388fbe1511418fb5e0b07a1f5684c2.bindPopup(popup_9d43816901bd4cd3816da751a5b41820)
        ;

        
    
    
            var marker_b6147f78404c4c11a036df14cec80403 = L.marker(
                [52.2288689, 5.3214503],
                {}
            ).addTo(feature_group_e4e469c809814ac2af1e89dcbce073e4);
        
    
            var icon_46e9139757d24a8691bdd59615cd8eed = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_b6147f78404c4c11a036df14cec80403.setIcon(icon_46e9139757d24a8691bdd59615cd8eed);
        
    
        var popup_b40143b9924e451d84fd8b2299eb7a30 = L.popup({"maxWidth": "100%"});

        
            var html_27b63cb68c514c1dafbc90403cf00e81 = $(`<div id="html_27b63cb68c514c1dafbc90403cf00e81" style="width: 100.0%; height: 100.0%;">Katawina</div>`)[0];
            popup_b40143b9924e451d84fd8b2299eb7a30.setContent(html_27b63cb68c514c1dafbc90403cf00e81);
        

        marker_b6147f78404c4c11a036df14cec80403.bindPopup(popup_b40143b9924e451d84fd8b2299eb7a30)
        ;

        
    
    
            var marker_ea18c632c5014d9596268494137539b1 = L.marker(
                [50.4500336, 30.5241361],
                {}
            ).addTo(feature_group_e4e469c809814ac2af1e89dcbce073e4);
        
    
            var icon_baf7304117b24005830d9960ea19de4f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_ea18c632c5014d9596268494137539b1.setIcon(icon_baf7304117b24005830d9960ea19de4f);
        
    
        var popup_3d5112d766d84f6991f5da539311752a = L.popup({"maxWidth": "100%"});

        
            var html_615f0c84ff2d4ad189e41c08f54c66a8 = $(`<div id="html_615f0c84ff2d4ad189e41c08f54c66a8" style="width: 100.0%; height: 100.0%;">Дед Сироша</div>`)[0];
            popup_3d5112d766d84f6991f5da539311752a.setContent(html_615f0c84ff2d4ad189e41c08f54c66a8);
        

        marker_ea18c632c5014d9596268494137539b1.bindPopup(popup_3d5112d766d84f6991f5da539311752a)
        ;

        
    
    
            var marker_56d6926ced4740f197ede4bf78580249 = L.marker(
                [49.2608724, -123.113952],
                {}
            ).addTo(feature_group_e4e469c809814ac2af1e89dcbce073e4);
        
    
            var icon_7feba4a753714c9faa50ba72b85d6bf4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_56d6926ced4740f197ede4bf78580249.setIcon(icon_7feba4a753714c9faa50ba72b85d6bf4);
        
    
        var popup_dd83bc87f29b4a85920bfea80184aa50 = L.popup({"maxWidth": "100%"});

        
            var html_28e36027e6b444ae970d1c2b8d7381be = $(`<div id="html_28e36027e6b444ae970d1c2b8d7381be" style="width: 100.0%; height: 100.0%;">BOBQIN</div>`)[0];
            popup_dd83bc87f29b4a85920bfea80184aa50.setContent(html_28e36027e6b444ae970d1c2b8d7381be);
        

        marker_56d6926ced4740f197ede4bf78580249.bindPopup(popup_dd83bc87f29b4a85920bfea80184aa50)
        ;

        
    
    
            var marker_02a2e8eab1d749dfab0d41e10885a45f = L.marker(
                [52.2319581, 21.0067249],
                {}
            ).addTo(feature_group_e4e469c809814ac2af1e89dcbce073e4);
        
    
            var icon_d480c989ee3c4998bd949a77bd647f4a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_02a2e8eab1d749dfab0d41e10885a45f.setIcon(icon_d480c989ee3c4998bd949a77bd647f4a);
        
    
        var popup_cf4f840c38244274a6ae4456166483af = L.popup({"maxWidth": "100%"});

        
            var html_f3165766cbf943e6bdc849d9621744e2 = $(`<div id="html_f3165766cbf943e6bdc849d9621744e2" style="width: 100.0%; height: 100.0%;">Maks Przychodzień</div>`)[0];
            popup_cf4f840c38244274a6ae4456166483af.setContent(html_f3165766cbf943e6bdc849d9621744e2);
        

        marker_02a2e8eab1d749dfab0d41e10885a45f.bindPopup(popup_cf4f840c38244274a6ae4456166483af)
        ;

        
    
    
            var marker_f9ebb926d4d14e54bc7db10626a8e2e2 = L.marker(
                [34.0536909, -118.242766],
                {}
            ).addTo(feature_group_e4e469c809814ac2af1e89dcbce073e4);
        
    
            var icon_ce09f4abfe78458f8a7c4499e696b21f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_f9ebb926d4d14e54bc7db10626a8e2e2.setIcon(icon_ce09f4abfe78458f8a7c4499e696b21f);
        
    
        var popup_d9254a186b48455888d3ad0ba79b2a0d = L.popup({"maxWidth": "100%"});

        
            var html_de03532e2fbf435ab69eeef120c5ba57 = $(`<div id="html_de03532e2fbf435ab69eeef120c5ba57" style="width: 100.0%; height: 100.0%;">KatEvolved</div>`)[0];
            popup_d9254a186b48455888d3ad0ba79b2a0d.setContent(html_de03532e2fbf435ab69eeef120c5ba57);
        

        marker_f9ebb926d4d14e54bc7db10626a8e2e2.bindPopup(popup_d9254a186b48455888d3ad0ba79b2a0d)
        ;

        
    
    
            var marker_8d88937dffaa4c2fb7e3154acc390605 = L.marker(
                [49.4871968, 31.2718321],
                {}
            ).addTo(feature_group_e4e469c809814ac2af1e89dcbce073e4);
        
    
            var icon_79924eae398e4eb286c13fe856490e73 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_8d88937dffaa4c2fb7e3154acc390605.setIcon(icon_79924eae398e4eb286c13fe856490e73);
        
    
        var popup_5d8879fc34df4eb2b5afb50f59df162f = L.popup({"maxWidth": "100%"});

        
            var html_b2c20e7ae8fe4b6199373ff816588a26 = $(`<div id="html_b2c20e7ae8fe4b6199373ff816588a26" style="width: 100.0%; height: 100.0%;">Герундий</div>`)[0];
            popup_5d8879fc34df4eb2b5afb50f59df162f.setContent(html_b2c20e7ae8fe4b6199373ff816588a26);
        

        marker_8d88937dffaa4c2fb7e3154acc390605.bindPopup(popup_5d8879fc34df4eb2b5afb50f59df162f)
        ;

        
    
    
            var marker_a1937af99d514091a53d9bfb6da99be1 = L.marker(
                [34.0536909, -118.242766],
                {}
            ).addTo(feature_group_e4e469c809814ac2af1e89dcbce073e4);
        
    
            var icon_b354d5381e9b4643982680c87820d9d7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_a1937af99d514091a53d9bfb6da99be1.setIcon(icon_b354d5381e9b4643982680c87820d9d7);
        
    
        var popup_ebaecf418d1c413a8f3b39bd8b4344df = L.popup({"maxWidth": "100%"});

        
            var html_32adfc83041447e4a12e6f852d0c984c = $(`<div id="html_32adfc83041447e4a12e6f852d0c984c" style="width: 100.0%; height: 100.0%;">Mark Yetter</div>`)[0];
            popup_ebaecf418d1c413a8f3b39bd8b4344df.setContent(html_32adfc83041447e4a12e6f852d0c984c);
        

        marker_a1937af99d514091a53d9bfb6da99be1.bindPopup(popup_ebaecf418d1c413a8f3b39bd8b4344df)
        ;

        
    
    
            var marker_b121d4d56d234a7f859440b34355aa97 = L.marker(
                [55.670249, 10.3333283],
                {}
            ).addTo(feature_group_e4e469c809814ac2af1e89dcbce073e4);
        
    
            var icon_05bfe7135252416aac8d51b4c6c4e536 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_b121d4d56d234a7f859440b34355aa97.setIcon(icon_05bfe7135252416aac8d51b4c6c4e536);
        
    
        var popup_816e09d435194c8d8423c4ec9573466b = L.popup({"maxWidth": "100%"});

        
            var html_326e434e7f444687a9691fa0561f2e28 = $(`<div id="html_326e434e7f444687a9691fa0561f2e28" style="width: 100.0%; height: 100.0%;">PSZ</div>`)[0];
            popup_816e09d435194c8d8423c4ec9573466b.setContent(html_326e434e7f444687a9691fa0561f2e28);
        

        marker_b121d4d56d234a7f859440b34355aa97.bindPopup(popup_816e09d435194c8d8423c4ec9573466b)
        ;

        
    
    
            var marker_1e2aba0ebebb40fc934c87985eba620c = L.marker(
                [34.0536909, -118.242766],
                {}
            ).addTo(feature_group_e4e469c809814ac2af1e89dcbce073e4);
        
    
            var icon_072983af604346099e582810c58dd2da = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_1e2aba0ebebb40fc934c87985eba620c.setIcon(icon_072983af604346099e582810c58dd2da);
        
    
        var popup_56f6cf6792154dbe922407fc2d13e2e1 = L.popup({"maxWidth": "100%"});

        
            var html_f27eca0e940b4607b835497bcacf9b00 = $(`<div id="html_f27eca0e940b4607b835497bcacf9b00" style="width: 100.0%; height: 100.0%;">Dylan</div>`)[0];
            popup_56f6cf6792154dbe922407fc2d13e2e1.setContent(html_f27eca0e940b4607b835497bcacf9b00);
        

        marker_1e2aba0ebebb40fc934c87985eba620c.bindPopup(popup_56f6cf6792154dbe922407fc2d13e2e1)
        ;

        
    
    
            var marker_5487d5a59d3e402f87e324ea2d6b9cc9 = L.marker(
                [37.5666791, 126.9782914],
                {}
            ).addTo(feature_group_e4e469c809814ac2af1e89dcbce073e4);
        
    
            var icon_5c12359907104a13955dec4f3984be53 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_5487d5a59d3e402f87e324ea2d6b9cc9.setIcon(icon_5c12359907104a13955dec4f3984be53);
        
    
        var popup_c37cabc88cc449abbc523674f26ede58 = L.popup({"maxWidth": "100%"});

        
            var html_f4860c94b9a54f4b86ce3a9ffb3563e6 = $(`<div id="html_f4860c94b9a54f4b86ce3a9ffb3563e6" style="width: 100.0%; height: 100.0%;">LS</div>`)[0];
            popup_c37cabc88cc449abbc523674f26ede58.setContent(html_f4860c94b9a54f4b86ce3a9ffb3563e6);
        

        marker_5487d5a59d3e402f87e324ea2d6b9cc9.bindPopup(popup_c37cabc88cc449abbc523674f26ede58)
        ;

        
    
    
            var marker_49fdecb836a345568c3fea09d265443c = L.marker(
                [38.9053028, -77.0657077],
                {}
            ).addTo(feature_group_e4e469c809814ac2af1e89dcbce073e4);
        
    
            var icon_bc6e09d75e4e4532846529dd566951e0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_49fdecb836a345568c3fea09d265443c.setIcon(icon_bc6e09d75e4e4532846529dd566951e0);
        
    
        var popup_adb94de644134a9380b43b274eca5dec = L.popup({"maxWidth": "100%"});

        
            var html_5d64e4d7fe17401c961ab42939bb412e = $(`<div id="html_5d64e4d7fe17401c961ab42939bb412e" style="width: 100.0%; height: 100.0%;">Seraphine⭐🌊</div>`)[0];
            popup_adb94de644134a9380b43b274eca5dec.setContent(html_5d64e4d7fe17401c961ab42939bb412e);
        

        marker_49fdecb836a345568c3fea09d265443c.bindPopup(popup_adb94de644134a9380b43b274eca5dec)
        ;

        
    
    
            var marker_2f6316778b3d48d09799dacb93b42ab6 = L.marker(
                [30.2711286, -97.7436995],
                {}
            ).addTo(feature_group_e4e469c809814ac2af1e89dcbce073e4);
        
    
            var icon_397e4170da0044a4ae635b8e34682b2f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_2f6316778b3d48d09799dacb93b42ab6.setIcon(icon_397e4170da0044a4ae635b8e34682b2f);
        
    
        var popup_3061a09b66024aba871fed12e4e17960 = L.popup({"maxWidth": "100%"});

        
            var html_a69d9bb80b8145d8a2cda4c02ad32422 = $(`<div id="html_a69d9bb80b8145d8a2cda4c02ad32422" style="width: 100.0%; height: 100.0%;">hashinshin</div>`)[0];
            popup_3061a09b66024aba871fed12e4e17960.setContent(html_a69d9bb80b8145d8a2cda4c02ad32422);
        

        marker_2f6316778b3d48d09799dacb93b42ab6.bindPopup(popup_3061a09b66024aba871fed12e4e17960)
        ;

        
    
</script>