<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_b83a6bab9c104daa83e132198a120c6e {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_b83a6bab9c104daa83e132198a120c6e" ></div>
        
</body>
<script>    
    
            var map_b83a6bab9c104daa83e132198a120c6e = L.map(
                "map_b83a6bab9c104daa83e132198a120c6e",
                {
                    center: [0, 0],
                    crs: L.CRS.EPSG3857,
                    zoom: 1,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_fb85993acc27416cae075a715101490b = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_b83a6bab9c104daa83e132198a120c6e);
        
    
            var feature_group_cbc5a479ea044633aeadff24ee762e94 = L.featureGroup(
                {}
            ).addTo(map_b83a6bab9c104daa83e132198a120c6e);
        
    
            var marker_5ff1abdda5a54fffb6180fbb4749ed85 = L.marker(
                [39.7837304, -100.445882],
                {}
            ).addTo(feature_group_cbc5a479ea044633aeadff24ee762e94);
        
    
            var icon_b8e4b3a94b644c1eb5e8fe19050ffe58 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_5ff1abdda5a54fffb6180fbb4749ed85.setIcon(icon_b8e4b3a94b644c1eb5e8fe19050ffe58);
        
    
        var popup_c1b69780ad1745cb979070551d5d3107 = L.popup({"maxWidth": "100%"});

        
            var html_2ef681efa2a247b6905db8ed59d85e3b = $(`<div id="html_2ef681efa2a247b6905db8ed59d85e3b" style="width: 100.0%; height: 100.0%;">Team Salvato</div>`)[0];
            popup_c1b69780ad1745cb979070551d5d3107.setContent(html_2ef681efa2a247b6905db8ed59d85e3b);
        

        marker_5ff1abdda5a54fffb6180fbb4749ed85.bindPopup(popup_c1b69780ad1745cb979070551d5d3107)
        ;

        
    
    
            var marker_fcf18685ab9a46f494772155ea41d2d8 = L.marker(
                [49.4871968, 31.2718321],
                {}
            ).addTo(feature_group_cbc5a479ea044633aeadff24ee762e94);
        
    
            var icon_ebb8237880254fb8a7ca957864b955bd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_fcf18685ab9a46f494772155ea41d2d8.setIcon(icon_ebb8237880254fb8a7ca957864b955bd);
        
    
        var popup_87cb0a6a169d494ba6b4fbce1fac034c = L.popup({"maxWidth": "100%"});

        
            var html_a5bb28c568f24a52ae43e1c534c6d757 = $(`<div id="html_a5bb28c568f24a52ae43e1c534c6d757" style="width: 100.0%; height: 100.0%;">velinquent</div>`)[0];
            popup_87cb0a6a169d494ba6b4fbce1fac034c.setContent(html_a5bb28c568f24a52ae43e1c534c6d757);
        

        marker_fcf18685ab9a46f494772155ea41d2d8.bindPopup(popup_87cb0a6a169d494ba6b4fbce1fac034c)
        ;

        
    
    
            var marker_25010cd8266e482a8e2e7fca30b4aff8 = L.marker(
                [34.2331373, -102.4107493],
                {}
            ).addTo(feature_group_cbc5a479ea044633aeadff24ee762e94);
        
    
            var icon_e9f6174b570648f4be158bb562c3897d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_25010cd8266e482a8e2e7fca30b4aff8.setIcon(icon_e9f6174b570648f4be158bb562c3897d);
        
    
        var popup_283142aa7f2543eb889f86cf4452f1a6 = L.popup({"maxWidth": "100%"});

        
            var html_31241cc235f04c858c16df3607fc0c45 = $(`<div id="html_31241cc235f04c858c16df3607fc0c45" style="width: 100.0%; height: 100.0%;">Monika</div>`)[0];
            popup_283142aa7f2543eb889f86cf4452f1a6.setContent(html_31241cc235f04c858c16df3607fc0c45);
        

        marker_25010cd8266e482a8e2e7fca30b4aff8.bindPopup(popup_283142aa7f2543eb889f86cf4452f1a6)
        ;

        
    
    
            var marker_5318671e00c94662a593841d32e8ae27 = L.marker(
                [49.4871968, 31.2718321],
                {}
            ).addTo(feature_group_cbc5a479ea044633aeadff24ee762e94);
        
    
            var icon_aff83e8d1d674056a46a339fde4a38b6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_5318671e00c94662a593841d32e8ae27.setIcon(icon_aff83e8d1d674056a46a339fde4a38b6);
        
    
        var popup_b096325fd0d2475da8549f9679119715 = L.popup({"maxWidth": "100%"});

        
            var html_81748288594044afb571219923a788e9 = $(`<div id="html_81748288594044afb571219923a788e9" style="width: 100.0%; height: 100.0%;">Герундий</div>`)[0];
            popup_b096325fd0d2475da8549f9679119715.setContent(html_81748288594044afb571219923a788e9);
        

        marker_5318671e00c94662a593841d32e8ae27.bindPopup(popup_b096325fd0d2475da8549f9679119715)
        ;

        
    
    
            var marker_894b4f4c797244ceaa0d8d5de4414709 = L.marker(
                [34.0536909, -118.242766],
                {}
            ).addTo(feature_group_cbc5a479ea044633aeadff24ee762e94);
        
    
            var icon_cf2c9bf332ca4d4c8ed80000e1dc3221 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_894b4f4c797244ceaa0d8d5de4414709.setIcon(icon_cf2c9bf332ca4d4c8ed80000e1dc3221);
        
    
        var popup_f4a3370d3e6843ada9f1cf3938887f5c = L.popup({"maxWidth": "100%"});

        
            var html_054248f64f0049f9a95d3b6bc1033cdc = $(`<div id="html_054248f64f0049f9a95d3b6bc1033cdc" style="width: 100.0%; height: 100.0%;">Юри</div>`)[0];
            popup_f4a3370d3e6843ada9f1cf3938887f5c.setContent(html_054248f64f0049f9a95d3b6bc1033cdc);
        

        marker_894b4f4c797244ceaa0d8d5de4414709.bindPopup(popup_f4a3370d3e6843ada9f1cf3938887f5c)
        ;

        
    
</script>